.form
  max-width: 444px
  width: 100%

  &__item
    margin-bottom: 11px
    display: flex
    flex-direction: column
    position: relative
  &__item-row
    display: flex
    justify-content: space-between
    align-items: center
  &__item-name
    padding: 1px 10px
    font-size: 12px
    font-weight: 400
    color: $black
    background-color: #fff
    display: block
    position: absolute
    left: 33px
    top: -8px
  &__input
    padding: 15px 30px 15px 35px
    font-size: 16px
    font-weight: 400
    color: $black
    border: 1px solid #000000
    border-radius: 4px
    @media (max-width: 768px)
      padding: 8px 30px 8px 20px
      font-size: 14px
  &__cross
    display: none
    width: 14px
    height: 14px
    position: absolute
    top: 19px
    right: 15px
    @media (max-width: 768px)
      top: 10px
  &__done
    display: none
    width: 14px
    height: 14px
    position: absolute
    top: 19px
    right: 15px
    @media (max-width: 768px)
      top: 10px
  &__mess
    margin-top: 5px
    display: none
    align-items: center
  &__mess-icon
    margin-right: 6px
    width: 11px
    height: 11px
  &__mess-text
    font-size: 14px
    font-weight: 400
    color: $pink-light
    @media (max-width: 600px)
      font-size: 10px
  &__comment
    margin-bottom: 40px
    padding: 17px 30px
    font-size: 16px
    font-weight: 400
    border: 1px solid $black
    border-radius: 4px
    color: $black
    outline: none
    resize: none
    @media (max-width: 768px)
      font-size: 14px
    @media (max-width: 600px)
      margin-bottom: 0
      padding: 8px 20px
    &::placeholder
      color: $black
  //    JS VALIDATE

  .name-js.is-invalid
    .form__mess
      display: flex
    .form__cross
      display: block
  .name-js.is-valid
    .form__done
      display: block
  .number-js.is-invalid
    .form__mess
      display: flex
    .form__cross
      display: block
  .number-js.is-valid
    .form__done
      display: block
  .email-js.is-invalid
    .form__mess
      display: flex
    .form__cross
      display: block
  .email-js.is-valid
    .form__done
      display: block
  .select-js.is-invalid
    .form__mess
      display: flex
    .form__cross
      display: block
  .select-js.is-valid
    .form__mess
      display: none

