.btn
  padding: 20px 50px
  font-size: 25px
  font-weight: 400
  background-color: $pink-light
  border-radius: 4px
  text-align: center
  transition-duration: .4s
  border: 0
  &:hover
    background-color: $pink

