.dropdown-js
  margin-bottom: 10px
  padding: 14px 30px
  position: relative
  border: 1px solid $black
  border-radius: 4px
  &__current
    display: flex
    align-items: center
    justify-content: space-between
    span
      font-size: 16px
      font-weight: 400
      color: $black
  &__list
    padding: 5px 0
    display: flex
    flex-direction: column
    border: 1px solid $black
    border-top: 0
    border-radius: 4px
    opacity: 0
    visibility: hidden
    z-index: 10
    transition: .35s
    min-width: 444px
    position: absolute
    top: 90%
    left: -1px
  &__link
    padding: 5px 30px
    font-size: 16px
    font-weight: 400
    color: $black
    &:hover
      background-color: $blue-dark
      color: $white
  &__arrow
    display: flex
    flex-direction: column
    align-items: center
    transition: .35s
  &.open
    .dropdown-js__list
      background-color: #fff
      opacity: 1
      visibility: visible
      border-top-left-radius: 0px
      border-top-right-radius: 0px
    .dropdown-js__arrow
      transform: rotate(180deg)


